.MenuDiv
{
    position: absolute;
    top: 5%;
    left: 95%;
}
.delete span
{
    color: #ff0000;
}

.delete
{
    background-color: #808080;
}

.delete:hover
{
    background-color: #666666;
}

td:hover
{
    cursor: pointer;
}

.classMenuDots:hover
{
    cursor: pointer;
}

.edit
{
    background-color: #808080;
}

.edit:hover
{
    background-color: #666666;
}

a
{
    color: #fff;
    text-decoration: none;
}