.MenuDiv
{
    position: absolute;
    top: 5%;
    left: 95%;
}

.divs 
{
    display: flex;
    align-items: center; /* Vertically center the content */
}

.icons
{
    margin-right: 5px;
}

div:hover
{
    cursor: pointer;
}

.block
{
    border-top: 1px solid white;
}

a
{
    text-decoration: none;
    color: white;
}