.whereamI {
    position: absolute;
    top: 0%;
    left: 50%;
    color: #fff;
    font-size: 50px;
    width: 100%;
    text-align: center;
    width: fit-content;
  }

@media screen and (max-width: 768px) {
    .whereamI {
      position: relative;
      font-size: 10px;
    }
  }

.EditNameDiv
{
    position: absolute;
    top: 15%;
    left: 40%;
}

.EditBioDiv
{
    position: absolute;
    top: 20%;
    left: 40%;
    max-width: 300px;
    max-height: 100px;
}